# -r autogen/requirements.txt
google-api-python-client
google-auth-oauthlib # Authorization dependency
google-auth-httplib2 # Authorization dependency
billboard.py # For Billboard charts scraping
plotly
nltk
numpy
python-decouple
pandas
scipy
mysqlclient
sparqlwrapper
-r slap_flask/requirements.txt
-r slap_dj/requirements.txt
