{% extends 'base.html' %}
{% block page_title %}{{ name }} by {{ artists }}{% endblock %}
{% block content %}
     <div class="container">
        <div class="container">
            <h1 class="display-4">{{ name }}</h1>
            <p class="lead">by {{ artists }}</p>
        </div>
         <div id="GFG"></div>
         <div class="container">
             <h4>Popularity</h4>
         </div>
         <div class="container">
             <h4>Repetition</h4>
             Word count: {{ word_count }}
             {{ word_freq_plot | safe }}
             <div class="row">
                 <div class="col-6">
                     <h5>Lyrics</h5>
                     <pre>{{ lyrics | safe }}</pre>
                 </div>
                 <div class="col-6">
                     <h5>Repetition Matrix</h5>
                        <div class="container-fluid">
                          <!-- Content here -->
                          <div id="my_dataviz" style="width:100% ;height:100% ;">

                          </div>
                        </div>
                 </div>
             </div>
         </div>

     </div>
    <script>
    let fetched_song_id = {{ song_id }}
    </script>
     <!-- d3.js -->
    <script src="https://d3js.org/d3.v6.js"></script>
    <!-- custom -->
    {#  <script src="{{ url_for('static', filename='js/plot-repetition-matrix.js') }}"></script> #}
    <script src="{{ url_for('static', filename='js/plot-repetition-matrix-colored.js') }}"></script>
{% endblock %}